workflows/workflow-git-sync_3HDB3jDm.json
{
  "id": "3HDB3jDmfakQr1Yp",
  "name": "Workflow Git Sync",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "list-wf",
      "name": "List All Workflows",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "parameters": {
        "resource": "workflow",
        "operation": "getAll",
        "returnAll": true,
        "filters": {}
      },
      "credentials": {
        "n8nApi": {
          "id": "AFbLekABEe2MQWWt",
          "name": "n8n API (self)"
        }
      }
    },
    {
      "id": "get-manifest",
      "name": "Get Manifest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        500,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/oovoom-tech/n8n-workflows/contents/manifest.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "5lz9es2JW8mFpXHC",
          "name": "GitHub API (Git Sync)"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "diff",
      "name": "Diff Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        300
      ],
      "parameters": {
        "jsCode": "function slugify(name) {\n  return name.toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').replace(/[^a-z0-9]+/g, '-').replace(/^-+|-+$/g, '').replace(/-{2,}/g, '-');\n}\n\n// Read manifest from GitHub (base64 encoded content)\nvar manifestNode = $('Get Manifest').first().json;\nvar manifest = {};\nif (manifestNode && manifestNode.content) {\n  try {\n    var decoded = Buffer.from(manifestNode.content, 'base64').toString('utf8');\n    manifest = JSON.parse(decoded);\n  } catch(e) { manifest = {}; }\n}\n\nvar workflows = $('List All Workflows').all().map(function(i) { return i.json; });\nvar actions = [];\nvar seenIds = {};\n\nfor (var i = 0; i < workflows.length; i++) {\n  var wf = workflows[i];\n  var id = wf.id;\n  seenIds[id] = true;\n  var filename = slugify(wf.name) + '_' + id.slice(0, 8) + '.json';\n  var prev = manifest[id];\n  if (!prev) {\n    actions.push({ action: 'create', id: id, name: wf.name, filename: filename });\n  } else if (prev.name !== wf.name) {\n    actions.push({ action: 'rename', id: id, name: wf.name, filename: filename, oldFilename: prev.filename });\n  } else if (prev.updatedAt !== wf.updatedAt) {\n    actions.push({ action: 'update', id: id, name: wf.name, filename: filename });\n  }\n}\n\nvar manifestIds = Object.keys(manifest);\nfor (var j = 0; j < manifestIds.length; j++) {\n  var mid = manifestIds[j];\n  if (!seenIds[mid]) {\n    actions.push({ action: 'delete', id: mid, name: manifest[mid].name, filename: manifest[mid].filename });\n  }\n}\n\n// Build new manifest for commit\nvar newManifest = {};\nfor (var k = 0; k < workflows.length; k++) {\n  var w = workflows[k];\n  var fn = slugify(w.name) + '_' + w.id.slice(0, 8) + '.json';\n  newManifest[w.id] = { filename: fn, name: w.name, updatedAt: w.updatedAt };\n}\n\n// Store newManifest for Prepare Git Data node\nvar staticData = $getWorkflowStaticData('global');\nstaticData.pendingManifest = newManifest;\nstaticData.oldManifest = manifest;\n\nif (actions.length === 0) return [];\nreturn actions.map(function(a) { return { json: a }; });"
      }
    },
    {
      "id": "if-chg",
      "name": "Has Changes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1000,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.action }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "noop",
      "name": "No Changes",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1250,
        450
      ],
      "parameters": {}
    },
    {
      "id": "fetch-wf",
      "name": "Fetch Full Workflow",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        1250,
        200
      ],
      "parameters": {
        "resource": "workflow",
        "operation": "get",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        }
      },
      "credentials": {
        "n8nApi": {
          "id": "AFbLekABEe2MQWWt",
          "name": "n8n API (self)"
        }
      }
    },
    {
      "id": "prepare",
      "name": "Prepare Git Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        200
      ],
      "parameters": {
        "jsCode": "function cleanWorkflow(wf) {\n  var cleaned = JSON.parse(JSON.stringify(wf));\n  delete cleaned.createdAt;\n  delete cleaned.updatedAt;\n  delete cleaned.versionId;\n  delete cleaned.triggerCount;\n  delete cleaned.staticData;\n  if (cleaned.meta) delete cleaned.meta.instanceId;\n  return cleaned;\n}\n\nvar staticData = $getWorkflowStaticData('global');\nvar pendingManifest = staticData.pendingManifest || {};\nvar oldManifest = staticData.oldManifest || {};\nvar fetchedWorkflows = $input.all().map(function(i) { return i.json; });\nvar treeEntries = [];\nvar stats = { created: 0, updated: 0, renamed: 0, deleted: 0 };\nvar details = { created: [], updated: [], renamed: [], deleted: [] };\n\nfor (var k = 0; k < fetchedWorkflows.length; k++) {\n  var wf = fetchedWorkflows[k];\n  if (!wf.id || !wf.nodes) continue;\n  var entry = pendingManifest[wf.id];\n  if (!entry) continue;\n  var oldEntry = oldManifest[wf.id];\n  var cleaned = cleanWorkflow(wf);\n  var content = JSON.stringify(cleaned, null, 2);\n  treeEntries.push({ path: 'workflows/' + entry.filename, mode: '100644', type: 'blob', content: content });\n  if (!oldEntry) {\n    stats.created++;\n    details.created.push(wf.name);\n  } else if (oldEntry.name !== entry.name) {\n    treeEntries.push({ path: 'workflows/' + oldEntry.filename, mode: '100644', type: 'blob', sha: null });\n    stats.renamed++;\n    details.renamed.push(oldEntry.name + ' -> ' + wf.name);\n  } else {\n    stats.updated++;\n    details.updated.push(wf.name);\n  }\n}\n\nvar manifestIds = Object.keys(oldManifest);\nfor (var m = 0; m < manifestIds.length; m++) {\n  var did = manifestIds[m];\n  if (!pendingManifest[did]) {\n    treeEntries.push({ path: 'workflows/' + oldManifest[did].filename, mode: '100644', type: 'blob', sha: null });\n    stats.deleted++;\n    details.deleted.push(oldManifest[did].name);\n  }\n}\n\ntreeEntries.push({ path: 'manifest.json', mode: '100644', type: 'blob', content: JSON.stringify(pendingManifest, null, 2) });\n\nvar parts = [];\nif (stats.created > 0) parts.push('+' + stats.created + ' new');\nif (stats.updated > 0) parts.push('~' + stats.updated + ' updated');\nif (stats.renamed > 0) parts.push('>' + stats.renamed + ' renamed');\nif (stats.deleted > 0) parts.push('-' + stats.deleted + ' deleted');\nvar title = 'sync: ' + parts.join(', ');\n\nvar body = '';\nif (details.created.length > 0) body += '\\nCreated:\\n' + details.created.map(function(n) { return '  + ' + n; }).join('\\n');\nif (details.updated.length > 0) body += '\\nUpdated:\\n' + details.updated.map(function(n) { return '  ~ ' + n; }).join('\\n');\nif (details.renamed.length > 0) body += '\\nRenamed:\\n' + details.renamed.map(function(n) { return '  > ' + n; }).join('\\n');\nif (details.deleted.length > 0) body += '\\nDeleted:\\n' + details.deleted.map(function(n) { return '  - ' + n; }).join('\\n');\n\nreturn [{ json: { treeEntries: treeEntries, commitMessage: title + '\\n' + body, stats: stats } }];"
      }
    },
    {
      "id": "get-ref",
      "name": "Get Git Ref",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1750,
        200
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/oovoom-tech/n8n-workflows/git/ref/heads/main",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "5lz9es2JW8mFpXHC",
          "name": "GitHub API (Git Sync)"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "id": "get-commit",
      "name": "Get Commit Tree",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2000,
        200
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/oovoom-tech/n8n-workflows/git/commits/{{ $json.object.sha }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "5lz9es2JW8mFpXHC",
          "name": "GitHub API (Git Sync)"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "id": "create-tree",
      "name": "Create Tree",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2250,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/oovoom-tech/n8n-workflows/git/trees",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ base_tree: $json.tree.sha, tree: $('Prepare Git Data').first().json.treeEntries }) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "5lz9es2JW8mFpXHC",
          "name": "GitHub API (Git Sync)"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "id": "create-commit",
      "name": "Create Commit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2500,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/oovoom-tech/n8n-workflows/git/commits",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: $('Prepare Git Data').first().json.commitMessage, tree: $json.sha, parents: [$('Get Git Ref').first().json.object.sha] }) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "5lz9es2JW8mFpXHC",
          "name": "GitHub API (Git Sync)"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "id": "update-ref",
      "name": "Update Ref",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2750,
        200
      ],
      "parameters": {
        "method": "PATCH",
        "url": "https://api.github.com/repos/oovoom-tech/n8n-workflows/git/refs/heads/main",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ sha: $json.sha }) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "5lz9es2JW8mFpXHC",
          "name": "GitHub API (Git Sync)"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "id": "err-trigger",
      "name": "On Error",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        600
      ],
      "parameters": {}
    },
    {
      "id": "slack-err",
      "name": "Notify Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        250,
        600
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "WARNING n8n Workflow Git Sync failed - Check execution log"
            }
          ]
        },
        "options": {}
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List All Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List All Workflows": {
      "main": [
        [
          {
            "node": "Get Manifest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Manifest": {
      "main": [
        [
          {
            "node": "Diff Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Diff Engine": {
      "main": [
        [
          {
            "node": "Has Changes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Changes?": {
      "main": [
        [
          {
            "node": "Fetch Full Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Changes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Full Workflow": {
      "main": [
        [
          {
            "node": "Prepare Git Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Git Data": {
      "main": [
        [
          {
            "node": "Get Git Ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Git Ref": {
      "main": [
        [
          {
            "node": "Get Commit Tree",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Commit Tree": {
      "main": [
        [
          {
            "node": "Create Tree",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Tree": {
      "main": [
        [
          {
            "node": "Create Commit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Commit": {
      "main": [
        [
          {
            "node": "Update Ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Error": {
      "main": [
        [
          {
            "node": "Notify Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Paris",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "meta": null,
  "pinData": null,
  "activeVersionId": "beb2147b-65b7-4dc6-8e8b-b486ca991c2d",
  "versionCounter": 26,
  "shared": [
    {
      "updatedAt": "2026-04-06T15:54:50.296Z",
      "createdAt": "2026-04-06T15:54:50.296Z",
      "role": "workflow:owner",
      "workflowId": "3HDB3jDmfakQr1Yp",
      "projectId": "P9SvyFAiUp8zOrZ7",
      "project": {
        "updatedAt": "2025-03-12T09:28:18.948Z",
        "createdAt": "2025-03-12T07:47:56.846Z",
        "id": "P9SvyFAiUp8zOrZ7",
        "name": "Yohan Levy <yohan@oovoom.fr>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "6260312a-89a7-4e0e-874c-23c8648191b2"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-06T16:12:13.609Z",
    "createdAt": "2026-04-06T16:12:13.609Z",
    "versionId": "beb2147b-65b7-4dc6-8e8b-b486ca991c2d",
    "workflowId": "3HDB3jDmfakQr1Yp",
    "nodes": [
      {
        "id": "trigger",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          0,
          300
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 2 * * *"
              }
            ]
          }
        }
      },
      {
        "id": "list-wf",
        "name": "List All Workflows",
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          250,
          300
        ],
        "parameters": {
          "resource": "workflow",
          "operation": "getAll",
          "returnAll": true,
          "filters": {}
        },
        "credentials": {
          "n8nApi": {
            "id": "AFbLekABEe2MQWWt",
            "name": "n8n API (self)"
          }
        }
      },
      {
        "id": "get-manifest",
        "name": "Get Manifest",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          500,
          300
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.github.com/repos/oovoom-tech/n8n-workflows/contents/manifest.json",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/vnd.github+json"
              }
            ]
          },
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "5lz9es2JW8mFpXHC",
            "name": "GitHub API (Git Sync)"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "id": "diff",
        "name": "Diff Engine",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          750,
          300
        ],
        "parameters": {
          "jsCode": "function slugify(name) {\n  return name.toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').replace(/[^a-z0-9]+/g, '-').replace(/^-+|-+$/g, '').replace(/-{2,}/g, '-');\n}\n\n// Read manifest from GitHub (base64 encoded content)\nvar manifestNode = $('Get Manifest').first().json;\nvar manifest = {};\nif (manifestNode && manifestNode.content) {\n  try {\n    var decoded = Buffer.from(manifestNode.content, 'base64').toString('utf8');\n    manifest = JSON.parse(decoded);\n  } catch(e) { manifest = {}; }\n}\n\nvar workflows = $('List All Workflows').all().map(function(i) { return i.json; });\nvar actions = [];\nvar seenIds = {};\n\nfor (var i = 0; i < workflows.length; i++) {\n  var wf = workflows[i];\n  var id = wf.id;\n  seenIds[id] = true;\n  var filename = slugify(wf.name) + '_' + id.slice(0, 8) + '.json';\n  var prev = manifest[id];\n  if (!prev) {\n    actions.push({ action: 'create', id: id, name: wf.name, filename: filename });\n  } else if (prev.name !== wf.name) {\n    actions.push({ action: 'rename', id: id, name: wf.name, filename: filename, oldFilename: prev.filename });\n  } else if (prev.updatedAt !== wf.updatedAt) {\n    actions.push({ action: 'update', id: id, name: wf.name, filename: filename });\n  }\n}\n\nvar manifestIds = Object.keys(manifest);\nfor (var j = 0; j < manifestIds.length; j++) {\n  var mid = manifestIds[j];\n  if (!seenIds[mid]) {\n    actions.push({ action: 'delete', id: mid, name: manifest[mid].name, filename: manifest[mid].filename });\n  }\n}\n\n// Build new manifest for commit\nvar newManifest = {};\nfor (var k = 0; k < workflows.length; k++) {\n  var w = workflows[k];\n  var fn = slugify(w.name) + '_' + w.id.slice(0, 8) + '.json';\n  newManifest[w.id] = { filename: fn, name: w.name, updatedAt: w.updatedAt };\n}\n\n// Store newManifest for Prepare Git Data node\nvar staticData = $getWorkflowStaticData('global');\nstaticData.pendingManifest = newManifest;\nstaticData.oldManifest = manifest;\n\nif (actions.length === 0) return [];\nreturn actions.map(function(a) { return { json: a }; });"
        }
      },
      {
        "id": "if-chg",
        "name": "Has Changes?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1000,
          300
        ],
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "c1",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                },
                "leftValue": "={{ $json.action }}"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "noop",
        "name": "No Changes",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1250,
          450
        ],
        "parameters": {}
      },
      {
        "id": "fetch-wf",
        "name": "Fetch Full Workflow",
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          1250,
          200
        ],
        "parameters": {
          "resource": "workflow",
          "operation": "get",
          "workflowId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $json.id }}"
          }
        },
        "credentials": {
          "n8nApi": {
            "id": "AFbLekABEe2MQWWt",
            "name": "n8n API (self)"
          }
        }
      },
      {
        "id": "prepare",
        "name": "Prepare Git Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1500,
          200
        ],
        "parameters": {
          "jsCode": "function cleanWorkflow(wf) {\n  var cleaned = JSON.parse(JSON.stringify(wf));\n  delete cleaned.createdAt;\n  delete cleaned.updatedAt;\n  delete cleaned.versionId;\n  delete cleaned.triggerCount;\n  delete cleaned.staticData;\n  if (cleaned.meta) delete cleaned.meta.instanceId;\n  return cleaned;\n}\n\nvar staticData = $getWorkflowStaticData('global');\nvar pendingManifest = staticData.pendingManifest || {};\nvar oldManifest = staticData.oldManifest || {};\nvar fetchedWorkflows = $input.all().map(function(i) { return i.json; });\nvar treeEntries = [];\nvar stats = { created: 0, updated: 0, renamed: 0, deleted: 0 };\nvar details = { created: [], updated: [], renamed: [], deleted: [] };\n\nfor (var k = 0; k < fetchedWorkflows.length; k++) {\n  var wf = fetchedWorkflows[k];\n  if (!wf.id || !wf.nodes) continue;\n  var entry = pendingManifest[wf.id];\n  if (!entry) continue;\n  var oldEntry = oldManifest[wf.id];\n  var cleaned = cleanWorkflow(wf);\n  var content = JSON.stringify(cleaned, null, 2);\n  treeEntries.push({ path: 'workflows/' + entry.filename, mode: '100644', type: 'blob', content: content });\n  if (!oldEntry) {\n    stats.created++;\n    details.created.push(wf.name);\n  } else if (oldEntry.name !== entry.name) {\n    treeEntries.push({ path: 'workflows/' + oldEntry.filename, mode: '100644', type: 'blob', sha: null });\n    stats.renamed++;\n    details.renamed.push(oldEntry.name + ' -> ' + wf.name);\n  } else {\n    stats.updated++;\n    details.updated.push(wf.name);\n  }\n}\n\nvar manifestIds = Object.keys(oldManifest);\nfor (var m = 0; m < manifestIds.length; m++) {\n  var did = manifestIds[m];\n  if (!pendingManifest[did]) {\n    treeEntries.push({ path: 'workflows/' + oldManifest[did].filename, mode: '100644', type: 'blob', sha: null });\n    stats.deleted++;\n    details.deleted.push(oldManifest[did].name);\n  }\n}\n\ntreeEntries.push({ path: 'manifest.json', mode: '100644', type: 'blob', content: JSON.stringify(pendingManifest, null, 2) });\n\nvar parts = [];\nif (stats.created > 0) parts.push('+' + stats.created + ' new');\nif (stats.updated > 0) parts.push('~' + stats.updated + ' updated');\nif (stats.renamed > 0) parts.push('>' + stats.renamed + ' renamed');\nif (stats.deleted > 0) parts.push('-' + stats.deleted + ' deleted');\nvar title = 'sync: ' + parts.join(', ');\n\nvar body = '';\nif (details.created.length > 0) body += '\\nCreated:\\n' + details.created.map(function(n) { return '  + ' + n; }).join('\\n');\nif (details.updated.length > 0) body += '\\nUpdated:\\n' + details.updated.map(function(n) { return '  ~ ' + n; }).join('\\n');\nif (details.renamed.length > 0) body += '\\nRenamed:\\n' + details.renamed.map(function(n) { return '  > ' + n; }).join('\\n');\nif (details.deleted.length > 0) body += '\\nDeleted:\\n' + details.deleted.map(function(n) { return '  - ' + n; }).join('\\n');\n\nreturn [{ json: { treeEntries: treeEntries, commitMessage: title + '\\n' + body, stats: stats } }];"
        }
      },
      {
        "id": "get-ref",
        "name": "Get Git Ref",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1750,
          200
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.github.com/repos/oovoom-tech/n8n-workflows/git/ref/heads/main",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/vnd.github+json"
              }
            ]
          },
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "5lz9es2JW8mFpXHC",
            "name": "GitHub API (Git Sync)"
          }
        },
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000
      },
      {
        "id": "get-commit",
        "name": "Get Commit Tree",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          2000,
          200
        ],
        "parameters": {
          "method": "GET",
          "url": "=https://api.github.com/repos/oovoom-tech/n8n-workflows/git/commits/{{ $json.object.sha }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/vnd.github+json"
              }
            ]
          },
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "5lz9es2JW8mFpXHC",
            "name": "GitHub API (Git Sync)"
          }
        },
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000
      },
      {
        "id": "create-tree",
        "name": "Create Tree",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          2250,
          200
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.github.com/repos/oovoom-tech/n8n-workflows/git/trees",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/vnd.github+json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ base_tree: $json.tree.sha, tree: $('Prepare Git Data').first().json.treeEntries }) }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "5lz9es2JW8mFpXHC",
            "name": "GitHub API (Git Sync)"
          }
        },
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000
      },
      {
        "id": "create-commit",
        "name": "Create Commit",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          2500,
          200
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.github.com/repos/oovoom-tech/n8n-workflows/git/commits",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/vnd.github+json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ message: $('Prepare Git Data').first().json.commitMessage, tree: $json.sha, parents: [$('Get Git Ref').first().json.object.sha] }) }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "5lz9es2JW8mFpXHC",
            "name": "GitHub API (Git Sync)"
          }
        },
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000
      },
      {
        "id": "update-ref",
        "name": "Update Ref",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          2750,
          200
        ],
        "parameters": {
          "method": "PATCH",
          "url": "https://api.github.com/repos/oovoom-tech/n8n-workflows/git/refs/heads/main",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/vnd.github+json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ sha: $json.sha }) }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "5lz9es2JW8mFpXHC",
            "name": "GitHub API (Git Sync)"
          }
        },
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000
      },
      {
        "id": "err-trigger",
        "name": "On Error",
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          0,
          600
        ],
        "parameters": {}
      },
      {
        "id": "slack-err",
        "name": "Notify Slack",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          250,
          600
        ],
        "parameters": {
          "method": "POST",
          "url": "={{ $env.SLACK_WEBHOOK_URL }}",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "text",
                "value": "WARNING n8n Workflow Git Sync failed - Check execution log"
              }
            ]
          },
          "options": {}
        },
        "onError": "continueRegularOutput"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "List All Workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "List All Workflows": {
        "main": [
          [
            {
              "node": "Get Manifest",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Manifest": {
        "main": [
          [
            {
              "node": "Diff Engine",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Diff Engine": {
        "main": [
          [
            {
              "node": "Has Changes?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Changes?": {
        "main": [
          [
            {
              "node": "Fetch Full Workflow",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Changes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Full Workflow": {
        "main": [
          [
            {
              "node": "Prepare Git Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Git Data": {
        "main": [
          [
            {
              "node": "Get Git Ref",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Git Ref": {
        "main": [
          [
            {
              "node": "Get Commit Tree",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Commit Tree": {
        "main": [
          [
            {
              "node": "Create Tree",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Tree": {
        "main": [
          [
            {
              "node": "Create Commit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Commit": {
        "main": [
          [
            {
              "node": "Update Ref",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On Error": {
        "main": [
          [
            {
              "node": "Notify Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Yohan Levy",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-06T16:12:13.658Z",
        "id": 87,
        "workflowId": "3HDB3jDmfakQr1Yp",
        "versionId": "beb2147b-65b7-4dc6-8e8b-b486ca991c2d",
        "event": "deactivated",
        "userId": "6260312a-89a7-4e0e-874c-23c8648191b2"
      },
      {
        "createdAt": "2026-04-06T16:12:13.676Z",
        "id": 88,
        "workflowId": "3HDB3jDmfakQr1Yp",
        "versionId": "beb2147b-65b7-4dc6-8e8b-b486ca991c2d",
        "event": "activated",
        "userId": "6260312a-89a7-4e0e-874c-23c8648191b2"
      }
    ]
  }
}